
<h3>Find By Name</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="lastname">Name</label>
      <input type="text" id="name" required [(ngModel)]="name" name="name">
    </div>
 
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let student of students">
    <h4>{{student.id}} - {{student.name}} {{student.email}} {{student.active}}</h4>
  </li>
</ul>


<!-- <mat-card style="margin: auto; padding: 15px; width: 90%; margin-top: 15px;">
  <mat-card-title>List:</mat-card-title>
    <table mat-table [dataSource]="studentsTable" class="fullwidth">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active </th>
          <td mat-cell *matCellDef="let element"> {{element.active}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
    </table>
    
</mat-card> -->